/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-bengal-studio-testimonials {
    &__wrapper {
        padding-top: 7rem;
        padding-bottom: 7rem;
        background-color: #1b1751;
        color: $white;

        &-left {
            margin-bottom: 2rem;
        }
    }

    &__headline {
        color: $white;
    }

    @include media-breakpoint-up(lg) {
        &__wrapper {
            &-inner,
            &-bottom {
                @include make-row();
            }

            &-inner {
                align-items: center;
            }

            &-bottom {
                justify-content: flex-end;
            }

            &-left,
            &-right,
            &-bottom-inner {
                @include make-col-ready();
            }

            &-left {
                @include make-col(4);
            }

            &-right,
            &-bottom-inner {
                @include make-col(8);
            }

            &-bottom-inner {
                display: flex;
                justify-content: center;
            }
        }

        &__list {
            &.is-grid {
                @include make-row();

                .wp-block-bengal-studio-testimonial {
                    @include make-col-ready();
                }
            }

            &.columns-2 {
                .wp-block-bengal-studio-testimonial {
                    @include make-col(6);
                }
            }

            &.columns-3 {
                .wp-block-bengal-studio-testimonial {
                    @include make-col(4);
                }
            }
        }
    }
}

.wp-block-bengal-studio-testimonial {
    margin-bottom: 2rem;
    color: $body-color;

    &__inner {
        padding: $card-spacer-x;
        background-color: $white;
    }

    &__media {
        display: flex;
        align-items: flex-start;
    }

    &__media-body {
        flex: 1;
    }

    &__avatar {
        margin-right: 1rem;
        border-radius: 50%;
        width: 4rem;
    }

    &__meta {
        margin-bottom: 1rem;
    }

    &__title {
        margin-bottom: $card-spacer-y;
    }

    &__position {
        margin-top: -$card-spacer-y / 2;
    }

    &__bottom {
        text-align: center;
    }
}
