/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-bengal-studio-testimonials {
    @include media-breakpoint-up(lg) {
        &__list {
            &.is-grid {
                @include make-row();

                .wp-block-bengal-studio-testimonial {
                    @include make-col-ready();
                }
            }

            &.columns-2 {
                .wp-block-bengal-studio-testimonial {
                    @include make-col(6);
                }
            }

            &.columns-3 {
                .wp-block-bengal-studio-testimonial {
                    @include make-col(4);
                }
            }

            &.columns-4 {
                .wp-block-bengal-studio-testimonial {
                    @include make-col(3);
                }
            }
        }
    }
}

.wp-block-bengal-studio-testimonial {
    color: $body-color;

    &__inner {
        margin-bottom: 2rem;
        padding: 2rem;
        background-color: $white;
	}

    &__media {
        display: flex;
        align-items: flex-start;
        margin-bottom: 1rem;
    }

    &__media-body {
        flex: 1;
    }

    &__avatar {
        margin-right: 1rem;
        border-radius: 50%;
        width: 4rem;
    }

    &__title {
        margin-bottom: $card-spacer-y;
    }

    &__position {
        margin-top: -$card-spacer-y / 2;
    }

    &__body {
        padding-left: 5rem;
    }
}
